
.action {
    width: 100%;
}

.cardImmagine {
    border-radius: 50%;
    height: 14rem;
    min-height: 5rem;
    background-position: center;
    background-size: cover;
}

.actionDiv {
    margin-bottom: 1vh;
}

.followersCard {
    margin-bottom: 1vh;
    margin-top: 1vh;
}
