.cardImgRounded {
    border-radius: 50%;
    height: 14rem;
    min-height: 5rem;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

.followersArtistCard {
    margin-bottom: 1vh;
    margin-top: 1vh;
}
