.cardTraccia {
    height: 100%;
}
.action {
    width: 100%;
}

.actionDiv {
    margin-bottom: 1vh;
}

.numberTop {
    background-color:rgb(11, 156, 161);
    max-width: 2.5vh;
    border-radius: 50%;
}

