.notLoggedBanner {
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 20rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.notLoggedBanner p {
    text-align: center;
    font-size: 1.5rem;
}

.infoUser {
    height: 25vh;
    background-image: url('../../assets/wallpaper_16.9.jpg');
    background-size: cover;
    background-position-y: 70%;
}

.nomeUtente{
    margin:auto;
    font-size: 3rem;
    position: relative;
    right: 5.1%;
}

.benvenuto{
    font-size: 1.2rem;
    font-weight: bold;
}

.immagineProfilo {
    width: 15rem;
    height: 15rem;
    display: flex;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 3rem;
}

.immagineProfilo img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.followers{
    background-color: #429aaad0;
    margin-top:1rem;
    font-size: 1.2rem;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    width: 9rem;
    margin-right:auto;
    margin-left:auto;
}

.contenuto {
    padding: 2rem;
    width: 100%;
}

.filter {
    margin: 5px;
    width: 125px;
    border-color:#429baa;
}

.search {
    width: 25%;
    margin-left: 9%;
    margin-right: 1rem;
}


.playlists{
    padding-top: 2rem
}
