.colonna-sx-navigationPage {
    position: absolute;
    padding-left: 1vh;
    padding-right: 1.5vh;
    width: 20vh;
    top:0;
    position: fixed;
    height: 100vh;
}

.myPlaylistList {
    margin-top: 7vh;
    text-align: center;
}

.tabellaPlaylistList {
    height: 70vh;
    margin-top: 2.5vh;
    border-style: solid 1px;
    border-color: azure;
    overflow-y: auto;
}

.playlistListElements {
    width: 100%;
    text-align: left;
    height: 3rem;
    overflow: hidden;
}
