.colonnaFiltri {
    position: absolute;
    padding-top: 7vh;
    top: 0;
    right: 0;
    position: fixed;
    width: 20vh;
    padding-left: 1vh;
    padding-right: 1vh;
    height: 100%;
}

.switchFilter {
    margin-left: 3vh;
    transform: scale(0.7);  /*non ho trovato altri modi per rimpicciolire gli switch*/
}

.inserimentoNumero {
    margin: auto;
    width: 7vh;
    height: 3vh;
    font-size: x-large;
    margin-right: 1vh;
}

.CategorieTitle{
    margin-top: 4vh;
}

.checkBoxCategorie {
    padding-left: 3vh;
}

  
/* .select{
    max-width: 4vh;
} */



/* .cercaPer {
    margin-right: 6%;
} */