.colonna {
    position: absolute;
    top: 11vh;
    right: 6vh;
    position: fixed;
    width: 20vh;
}


.select{
    max-width: 4vh;
}

.switchFilter {
    margin-left: 3vh;
}

.cercaPer {
    margin-right: 6%;
}