.colonnaFiltri {
    position: absolute;
    top: 68vh;
    right: 2vh;
    position: fixed;
    width: 15vh;
}

.switchFilter {
    margin-left: 3vh;
    transform: scale(0.7);  /*non ho trovato altri modi per rimpicciolire gli switch*/
}

.inserimentoNumero {
    margin: auto;
    width: 7vh;
    height: 3vh;
    font-size: x-large;
}
/* .select{
    max-width: 4vh;
} */



/* .cercaPer {
    margin-right: 6%;
} */