.footer{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 13vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.footerImg{
    height:fit-content;
    width: 12.8vh;
}

.footer-body{
    margin-top: 2vh;
}

.footer-button {
    width: 50%;
}

.footer-text {
    margin-top: 1vh;
}

