.navLogo {
    width: 8rem;
    margin-left: 1rem;
}
.navFotoProfilo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.navFotoProfilo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%; 
}
.pulsanteLoginNav {
    margin-left: auto;
    border-color:rgb(56, 56, 56); 
}

